<section class="container">
  <form class="formulario">
    <h2 class="formulario__titulo">Tela de Login</h2>

    <div class="form-field">
      <label class="form-field__label" for="valor">Usuario</label>
      <input class="form-field__input" id="valor" type="text"  name="usuario" placeholder="usuario">
    </div>

    <div class="form-field">
      <label class="form-field__label" for="destino">Senha</label>
      <input class="form-field__input"id="destino" type="text" name="senha" placeholder="senha">
    </div>

    <div class="botao-wrapper">
      <button class="botao">Login</button>
      <button class="botao--secondary">Cadrastrar</button>
    </div>
  </form>
</section>

