<!-- <app-nova-transferencia (aoTransferir)="receberValor($event)"></app-nova-transferencia> -->
<!-- <app-extrato [transferir]="valorRecebido"></app-extrato> -->

<!-- Cabeçalho com os links a serem clicados -->
<header>
  <a routerLink="app-login" routerLinkActive="ativo">Login</a>
  <a routerLink="app-extrato" routerLinkActive="ativo">Extrato</a>
  <a routerLink="app-nova-transferencia" routerLinkActive="ativo">Nova Transferência</a>
</header>

<!-- Carrega a rota que foi clicada -->
<main>
  <router-outlet></router-outlet>
</main>
